#navbar {
  overflow: hidden;
  background-color: rgb(245, 121, 99);
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
